// mat-form-field{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     margin-bottom: 30px;
  
// }

// .name{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     margin-right: 50px;
// }
// input{
//     background-color: rgb(250, 252, 252);
// }

// .label{
//     display: flex;o
//     flex-direction: row;
//     justify-content: space-between;
//     margin-bottom: 5px;
// }

// mat-radio-button{
//     margin: 40px;
// }
// .example-label {
//     display: table-cell;
//     font-size: 14px;
//     margin-left: 8px;
//     min-width: 120px;
//   }
//   button{
   
//     float: right;

//   }
//   .edit{
//     display: flex;
//     flex-direction: row;
//     justify-content: end;
//   }

div{
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    height: 50px;
    // width: 80%;
    background-color: rgb(126, 16, 16);
}

.row-content{
    display: flex;
    flex-direction: row;
    align-items: center;

}
img{
    height: 30px;
 
}
h3{
    color: antiquewhite;
    font-size: 30px;
    // margin-right: 480px;
}
input{
    padding: 8px;
    border-radius: 3px;
    margin-right: 100px;
    padding-right: 200px;
}
span{
    margin-left: 200px;
    color: aliceblue;
}